<%- include('partials/head.ejs') %>
</head>

<body>
    <main>
        <form action="/" method="POST">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>

            <button type="submit">Add User</button>
        </form>
    </main>

<%- include('partials/end.ejs') %>